<!DOCTYPE html>
<html>
<head>
    <title>Elenco Utenti</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Elenco Utenti</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.nome }}</td>
                <td>{{ user.cognome }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>